<h3 style="text-align: center;">Благодарим за заказ {{ first_name }}.</h3>
<p style="text-align: center;">Заказ {{ order_id }} успешно создан.</p>
<p>Заказ будет считатся принятым после того как мы свяжемся с Вами по одному из доступных каналов связи.</p>