<h4>You or someone else initiated a password reset on the site {{ site_name }}</h4>
<p>New password: {{ password }}</p>
<p>If it was not you tell the site administrator на e-mail: {{ admin_email }}</p>