<h4>Вы или кто-то другой инициировали сброс пароля на сайте {{ site_name }}</h4>
<p>Новый пароль: {{ password }}</p>
<p>Если это были не вы, напишите пожалуйста администратору сайта: {{ admin_email }}</p>