// Личный кабинет покупателя
$dashboard_accent_color: #56c563;

.fs-dashboard {
  margin-bottom: 50px;

  .tab-content {
    padding: 1.5rem 0;
  }

  .fs-user-avatar {
    border: 1px solid #e2e0e0;
    width: 150px;
    height: 163px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f7f7f7;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    label {
      position: absolute;
      z-index: 9;
      bottom: 5px;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: .05em;

      &:hover {
        cursor: pointer;
      }

    }
  }


  .fs-dashboard-order {
    margin-bottom: 15px;

    .table tbody td {
      vertical-align: middle;
    }

    &__hide {
      display: none;
      border: 1px solid rgba(0, 0, 0, .125);
      padding: 20px;
      margin-top: 15px;


      .label {
        font-weight: 700;
      }

      .row {
        width: 100%;
        margin-bottom: 15px;
      }
    }

    &__header {
      border: 1px solid rgba(0, 0, 0, .125);
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 10px 20px;
      align-items: center;
      border-radius: 4px;


      span {
        font-weight: 300;
        letter-spacing: 0.025em;

        &.badge {
          i {
            color: #fff;
          }
        }

        i {
          color: #000000;
          font-weight: 500;
          font-style: normal;
        }

        &.datetime {
          font-weight: 700;
        }
      }
    }
  }

  &__checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;

    label {
      margin: 0;

      &:last-child {
        margin-left: 12px;
      }
    }

    span {
      margin-left: 18px;
    }
  }


  .switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }

  .switch input {
    display: none;
  }

  .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }

  .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
  }

  input:checked + .slider {
    background-color: $dashboard_accent_color;
  }

  input:checked + .slider:before {
    transform: translateX(26px);
  }

  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }


  .form-group {
    margin-bottom: 22px;
  }

  [type=submit] {
    background: $dashboard_accent_color;
    color: #ffffff;
    border: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    padding: 11px 30px;
    border-radius: 0;
    min-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s ease-in;

    @media (max-width: 768px) {
      width: 100%;
    }

    &:hover {
      background: darken($dashboard_accent_color, 10%);
    }
  }

  &__tabs {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: baseline;

    &-container {
      flex-basis: 100%;
      max-width: 100%;
    }
  }

  &__tab {
    display: none;

    &-title {
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 22px;
      line-height: 1.2;
      color: #000;
      text-transform: none;
    }

    &.active {
      display: block;
    }
  }

  &__nav {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 0 28px 0;
    padding: 0;
    width: 100%;
    border-bottom: 2px solid $dashboard_accent_color;
    font-weight: 700;
    letter-spacing: 0.025em;
    flex-basis: 100%;
    font-size: 16px;

    @media (max-width: 768px) {
      flex-direction: column;
    }

    &.fs-layout-verical {
      flex-direction: column;
      flex-basis: 25%;
      min-width: 250px;
      margin-right: 30px;
      border-bottom: none;
      border-top: 1px solid #ddd;
      font-size: 14px;
      max-width: 100%;

      @media (max-width: 768px) {
        flex-basis: 100%;
        margin-right: 0;
      }

      > li {
        border-bottom: 1px solid #ddd;
        border-right: 1px solid #ddd;
        padding-left: 0;
        @media (max-width: 768px) {
          border-right: none;
        }

        a {
          font-weight: 400;
        }

        &.active {
          background: transparent;
          border-right-color: transparent;

          a {
            text-decoration: none;
            color: $dashboard_accent_color;


          }
        }
      }

      & + .fs-dashboard__tabs-container {
        flex: 1 0 auto;

      }
    }

    > li {

      padding: 11px 16px;
      transition: background 0.3s ease-in;
      line-height: 1;
      background: transparent;

      a {
        color: #000000;

      }

      &.active {
        background: $dashboard_accent_color;

        a {
          text-decoration: none;
          color: #ffffff;
        }
      }
    }
  }
}
