@charset "UTF-8";
.fs-fade {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  z-index: 999; }

.fs-modal {
  display: none; }
  .fs-modal .fs-form {
    position: fixed;
    top: 20%;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    background: #fff;
    z-index: 5;
    padding: 29px; }
  .fs-modal .fs-modal-close {
    position: absolute;
    top: 11px;
    right: 18px;
    font-size: 20px;
    color: #6c6c6c; }
    .fs-modal .fs-modal-close:hover {
      cursor: pointer;
      color: #000; }

.fs-form input.error {
  border: 1px solid #F8342D; }
.fs-form label.error {
  color: #F8342D; }
.fs-form .fs-submit {
  width: 100%;
  background: #525252;
  color: #fff;
  padding: 10px 5px;
  font-size: 14px;
  text-transform: uppercase;
  border: none;
  letter-spacing: .05em;
  max-width: 100%;
  font-weight: bold;
  box-shadow: inset 0 0 10px #00000000;
  font-family: Arial, sans-serif; }
  .fs-form .fs-submit:hover {
    background: #5f5f5f; }
.fs-form .fs-preloader {
  position: relative;
  top: auto;
  right: auto;
  display: none;
  width: 16px;
  height: auto;
  left: auto;
  margin: -2px 0 0 5px; }
.fs-form .fs-form-info {
  color: #333;
  background-color: #b9dfff;
  padding: 10px;
  line-height: 1;
  text-align: center;
  border: 1px solid #a5d2f8;
  margin-bottom: 15px; }
  .fs-form .fs-form-info a, .fs-form .fs-form-info a:hover, .fs-form .fs-form-info a:focus {
    color: #337ab7;
    text-decoration: underline; }
  .fs-form .fs-form-info.bg-danger {
    background-color: #ffc6c4;
    border: 1px solid #ffc6c4;
    color: #333333;
    font-size: 13px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; }
  .fs-form .fs-form-info.error {
    background: #ffbdbb;
    border: 1px solid #ff9692; }
.fs-form .fs-form-title {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; }

.blink {
  -webkit-animation: blink2 2s linear infinite;
  animation: blink2 2s linear infinite; }

@-webkit-keyframes blink2 {
  100% {
    color: rgba(34, 34, 34, 0); } }
@keyframes blink2 {
  100% {
    color: rgba(34, 34, 34, 0); } }
.fs-row:after {
  display: block;
  clear: both;
  content: ''; }

.row-images {
  width: 100%;
  float: none;
  overflow: hidden; }

button#new_image {
  border-radius: 20px;
  border: none;
  margin: 10px 0;
  padding: 6px 11px;
  background: #32373c;
  color: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
  outline: none; }

button#new_image:hover {
  background: #000;
  cursor: pointer; }

.mmf-image {
  display: inline-block;
  width: 165px;
  border: 1px dashed #ccc;
  padding: 5px;
  height: 165px;
  background-color: #eee;
  margin-right: 2px;
  margin-bottom: 2px;
  float: left; }

.mmf-image img {
  width: 100%;
  height: 133px; }

.mmf-image button {
  width: 49%;
  float: left;
  height: 28px;
  padding: 0px;
  text-transform: uppercase;
  font-size: 12px;
  border: none;
  border-radius: 2px; }

.mmf-image button:hover {
  cursor: pointer;
  opacity: 0.8; }

button.upload-mft {
  background: #2196F3;
  margin-right: 2%;
  color: #fff; }

button.remove-tr {
  background: #E91E63;
  color: #fff; }

.cssload-container {
  width: 100%;
  height: 49px;
  text-align: center; }

.cssload-speeding-wheel {
  width: 22px;
  height: 22px;
  margin: 0 auto;
  border: 3px solid #000000;
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: cssload-spin 575ms infinite linear;
  -o-animation: cssload-spin 575ms infinite linear;
  -ms-animation: cssload-spin 575ms infinite linear;
  -webkit-animation: cssload-spin 575ms infinite linear;
  -moz-animation: cssload-spin 575ms infinite linear; }

@keyframes cssload-spin {
  100% {
    transform: rotate(360deg); } }
@-o-keyframes cssload-spin {
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-ms-keyframes cssload-spin {
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-webkit-keyframes cssload-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-moz-keyframes cssload-spin {
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg); } }
[data-fs-action="add-to-cart"],
[data-fs-action="order-send"] {
  position: relative; }

.fs-preloader {
  position: absolute;
  left: 71px;
  top: 0px;
  display: none;
  width: 33px; }

[data-fs-action="order-send"] .fs-preloader {
  position: absolute;
  right: 9px;
  top: 17px;
  left: auto; }

[data-fs-element="cart-widget"] {
  display: inline; }

.send_ok {
  display: none;
  position: absolute;
  left: -160px;
  top: 1px;
  color: #ffffff;
  width: 160px;
  background: rgba(0, 135, 3, 0.93);
  font-size: 14px;
  height: 39px;
  border: 1px solid #3c763d;
  text-align: center;
  margin: 0px 46px 0 -8px;
  box-shadow: 1px 2px 0px 0px #043505;
  line-height: 40px; }

.send_ok:after {
  content: "";
  position: absolute;
  color: #3c763d;
  right: -16px;
  top: 11px;
  font-size: 18px;
  border: 8px solid transparent;
  border-left: 8px solid; }

.count_wrap {
  position: relative;
  float: left; }

input[name="count-ch"] {
  float: left;
  width: 39px;
  border: 1px solid #7C1D6B;
  height: 32px;
  text-align: center; }

.count_wrap .up {
  content: '';
  position: absolute;
  right: -15px;
  bottom: 19px;
  border: 4px solid transparent;
  border-bottom: 8px solid #7C1D6B; }

.count_wrap .down {
  content: '';
  position: absolute;
  right: -15px;
  bottom: 0px;
  border: 4px solid transparent;
  border-top: 8px solid #7C1D6B; }

.fs-metabox td {
  padding: 2px 8px; }

li.fs-attr {
  margin-bottom: 6px;
  display: block;
  margin-right: 13px;
  border: 1px solid #e5e5e5;
  padding: 0 15px 15px 15px;
  border-radius: 4px; }

.ui-tabs-vertical {
  width: 55em; }

.ui-tabs-vertical .ui-tabs-nav {
  padding: .2em .1em .2em .2em;
  float: left;
  width: 12em; }

.ui-tabs-vertical .ui-tabs-nav li {
  clear: left;
  width: 100%;
  border-bottom-width: 1px !important;
  border-right-width: 0 !important;
  margin: 0 -1px .2em 0; }

.ui-tabs-vertical .ui-tabs-nav li a {
  display: block; }

.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
  padding-bottom: 0;
  padding-right: .1em;
  border-right-width: 1px; }

.ui-tabs-vertical .ui-tabs-panel {
  padding: 1em;
  float: right;
  width: 40em; }

.fs-option input[type="submit"] {
  margin: 15px 0 0 0;
  background: #0073aa;
  color: #fff;
  padding: 8px 28px;
  border: 1px solid #0073aa;
  text-transform: uppercase;
  border-radius: -1px;
  line-height: 1em;
  font-size: 12px;
  letter-spacing: .1em;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s; }

.fs-option input[type="submit"]:hover {
  background: #06628e;
  cursor: pointer; }

.fs-option textarea {
  width: 100%; }

.fs-option label {
  font-weight: bold;
  line-height: 25px; }

.fs-option label.label-light {
  font-weight: normal;
  line-height: 18px; }

.fs-option p {
  margin: 0 0 10px 0; }

.fast-shop-settings .ui-tabs.ui-tabs-vertical .ui-tabs-nav {
  float: left;
  width: 10em;
  background: #f1f1f1; }

.fast-shop-settings .ui-tabs.ui-tabs-vertical .ui-tabs-nav li {
  clear: left;
  width: 100%;
  margin: 0.2em 0;
  border: 1px solid #0073aa;
  border-width: 1px 0 0px 1px;
  border-radius: 0;
  overflow: hidden;
  position: relative;
  right: -2px;
  z-index: 2; }

.fast-shop-settings .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
  background: #0073aa; }

.fast-shop-settings input[type=text] {
  width: 100%; }

.fast-shop-settings .wp-person a:focus .gravatar, a:focus, a:focus .media-icon img {
  color: #124964;
  box-shadow: none; }

.fs-option label span {
  font-weight: normal; }

.count-error {
  position: absolute;
  width: 233px;
  z-index: 1;
  bottom: 43px;
  background: #e1e1e1;
  padding: 10px;
  font-size: 14px;
  line-height: 1; }

.count-error:before {
  position: absolute;
  content: "";
  border: 10px solid transparent;
  border-top: 10px solid #e1e1e1;
  bottom: -19px;
  left: 16px; }

.form-info.form-error {
  color: red;
  margin: 0 0 16px 0;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.42);
  font-size: 0.9em; }

.form-header {
  margin: 0 0 20px 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: .025em;
  color: #333; }

.lSSlideOuter .lSPager.lSGallery img {
  margin: 0 auto; }

[data-action="add-to-cart"],
[data-fs-action="wishlist"] {
  position: relative; }

[data-fs-element="whishlist-widget"] {
  display: inline-block; }

[data-fs-action="wishlist"] .fs-wh-message {
  position: absolute;
  right: 0;
  bottom: calc(100% + 10px);
  width: 226px;
  background: rgba(28, 153, 90, 0.85);
  font-size: 12px;
  font-weight: 300;
  padding: 10px;
  color: #ffffff;
  text-transform: none;
  line-height: 1; }

.fs-form-info {
  display: none; }

.fs-attr-group:after {
  content: "";
  display: table;
  clear: both; }

.fs-attr-group-wrapper {
  border: 1px solid #f2f2f2;
  padding: 10px;
  margin: 10px 0; }

.fs-attr-group input[type=radio] {
  display: none; }

.fs-attr-group label {
  position: relative;
  width: 44px;
  height: 24px;
  margin-right: 5px; }

.fs-attr-group-text label {
  width: 100%;
  padding: 0 0 0 27px;
  color: #747474; }

.fs-attr-group input:checked + label span::after {
  opacity: 1; }

.fs-attr-group .checkbox {
  display: block;
  width: 15px;
  height: 15px;
  border: 1px solid #ccc;
  position: absolute;
  top: -5px;
  left: 3px;
  background: rgba(255, 255, 255, 0.69);
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.17) inset; }

.fs-attr-group .fs-attr-group-text .checkbox {
  position: absolute;
  top: -9px;
  left: 3px; }

.fs-attr-group .fs-attr-group-name {
  font-weight: bold; }

.fs-attr-group .checkbox::after {
  transition: all .4s;
  opacity: 0;
  content: '✔';
  position: absolute;
  width: 15px;
  height: 15px;
  top: -2px;
  left: 2px;
  font-size: 13px;
  color: #494949; }

.fs-attr-group-text {
  font-weight: bold;
  border-top: 1px solid #eee;
  text-transform: uppercase;
  margin: 0px 0 -5px 0;
  color: #323232;
  padding: 6px 0 0 0; }

.fs-group-info {
  display: none;
  color: #1d741e;
  margin: 9px 0 2px 0; }

.fs-form-info {
  color: #333;
  background-color: #b9dfff;
  padding: 10px;
  line-height: 1;
  text-align: center;
  border: 1px solid #a5d2f8; }
  .fs-form-info a, .fs-form-info a:hover, .fs-form-info a:focus {
    color: #337ab7;
    text-decoration: underline; }
  .fs-form-info.bg-danger {
    background-color: #ffc6c4;
    border: 1px solid #ffc6c4;
    color: #333333;
    font-size: 13px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; }
  .fs-form-info.error {
    background: #ffbdbb;
    border: 1px solid #ff9692; }

.fs-form-title {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; }

.fs-profile-edit {
  max-width: 480px; }
  .fs-profile-edit .fs-row {
    margin-bottom: 10px; }
  .fs-profile-edit input[type=text],
  .fs-profile-edit input[type=email],
  .fs-profile-edit input[type=date],
  .fs-profile-edit input[type=tel] {
    float: left;
    height: 30px;
    width: 100%;
    padding-left: 10px;
    font-weight: 300;
    color: #292929;
    border: 1px solid #e5e5e5; }
  .fs-profile-edit label {
    font-weight: 400; }
    .fs-profile-edit label span {
      color: #EA2B2B; }

[class^="fs-col-"] {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.fs-col-1 {
  width: 5.583333333333333%; }

.fs-col-2 {
  width: 14.16666666666667%; }

.fs-col-3 {
  width: 22.75%; }

.fs-col-4 {
  width: 31.33333333333333%; }

.fs-col-5 {
  width: 39.91666666666667%; }

.fs-col-6 {
  width: 48.5%; }

.fs-col-7 {
  width: 57.08333333333333%; }

.fs-col-8 {
  width: 65.66666666666666%; }

.fs-col-9 {
  width: 74.25%; }

.fs-col-10 {
  width: 82.83333333333333%; }

.fs-col-11 {
  width: 91.41666666666666%; }

.fs-col-12 {
  width: 100%; }

.fs-atc-info {
  position: absolute;
  background: #56c563;
  font-weight: normal;
  font-size: 12px;
  width: 249px;
  line-height: 1;
  padding: 10px;
  bottom: calc(100% + 10px);
  left: 0;
  text-transform: none;
  color: #fff;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.49); }
  .fs-atc-info:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #56c563 transparent transparent transparent;
    position: absolute;
    bottom: -9px; }

.fs-atc-preloader {
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.49);
  width: 100%;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center; }

td.fs_photo.column-fs_photo img {
  max-width: 100%;
  height: auto; }

.fs-wh-preloader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.49); }

.fs-field-wrapper {
  position: relative; }
  .fs-field-wrapper .error {
    font-weight: 400;
    color: red;
    font-size: 12px;
    font-family: sans-serif;
    font-style: normal;
    text-transform: none; }

.fs-rule {
  border: 1px dashed #88c6ff;
  margin: 15px 0;
  padding: 10px 17px;
  background-color: #d1e8fe;
  position: relative; }
  .fs-rule p {
    margin: 0 0 12px 0; }
  .fs-rule .fs-remove-variant {
    position: absolute;
    right: 20px;
    color: red; }
    .fs-rule .fs-remove-variant:hover {
      text-decoration: none; }

.fs-qty-wrap {
  position: relative;
  display: inline-block; }
  .fs-qty-wrap input {
    height: 44px;
    position: relative;
    padding: 0 31px 0 10px;
    width: 74px;
    border: 1px solid #e0e0e0; }
  .fs-qty-wrap .fs-button-style, .fs-qty-wrap .fs-pluss, .fs-qty-wrap .fs-minus {
    position: absolute;
    right: 2px;
    height: calc(50% - 3px);
    border: none;
    background: #6acccb;
    width: 24px;
    z-index: 2;
    line-height: 1;
    font-size: 1em; }
    .fs-qty-wrap .fs-button-style:hover, .fs-qty-wrap .fs-pluss:hover, .fs-qty-wrap .fs-minus:hover {
      background: #88d6d6; }
  .fs-qty-wrap .fs-pluss {
    top: 2px; }
  .fs-qty-wrap .fs-minus {
    bottom: 2.5px; }

.fs-pay-wrapper {
  width: 360px;
  margin: 30px auto;
  border: 1px solid #f1f1f1;
  padding: 20px;
  box-shadow: -4px 5px 4px rgba(0, 0, 0, 0.0705882353);
  max-width: 100%; }
  .fs-pay-wrapper .amount {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    color: #f74848;
    letter-spacing: .05em;
    margin-bottom: 20px; }
  .fs-pay-wrapper img {
    height: auto;
    max-width: 100%;
    margin-bottom: 20px;
    display: inline-block; }

.fs-order-status {
  width: 360px;
  margin: 0 auto 30px;
  display: block;
  float: none;
  padding: 15px 30px;
  box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.15);
  border: 1px solid #e6e6e6;
  font-size: 16px; }

[data-action="add-to-comparison"] {
  position: relative; }

.fs-ls-preloader {
  position: absolute;
  left: -43px;
  height: 49px;
  top: -8px; }

.livesearch-wrapper {
  position: absolute;
  top: 42px;
  background: #fff;
  z-index: 999999;
  padding: 12px;
  box-shadow: 0 8px 12px #0000001c;
  max-height: 363px;
  overflow: auto;
  width: 100%;
  border-top: 2px solid #cfa468; }
  .livesearch-wrapper .fs-ls-close {
    cursor: pointer;
    position: sticky;
    top: 0;
    background: #d7d7d7;
    display: block;
    padding: 2px;
    line-height: 1;
    float: left;
    font-size: 12px;
    border: 1px solid #a4a4a4; }
  .livesearch-wrapper p {
    margin: 0; }
  .livesearch-wrapper .livesearch-item {
    border-bottom: 1px solid #ddd;
    padding-bottom: 6px;
    margin-bottom: 6px;
    line-height: normal;
    width: 100%;
    float: left; }
    .livesearch-wrapper .livesearch-item img {
      width: 60px;
      float: left;
      margin-right: 12px;
      overflow: hidden;
      height: auto; }
    .livesearch-wrapper .livesearch-item .title {
      font-size: 13px;
      font-weight: 500;
      line-height: 1; }
    .livesearch-wrapper .livesearch-item .price {
      color: #c38d41;
      line-height: 25px;
      font-size: 14px;
      text-transform: uppercase;
      margin: 2px 0 0 0;
      font-size: 12px;
      font-weight: 500;
      font-family: Helvetica, Arial, sans-serif; }

.fs-order-detail tfoot {
  font-weight: bold; }
.fs-order-detail .thumb img {
  height: auto;
  width: 80px; }
.fs-order-detail .table {
  background: #fff;
  font-size: 14px; }
  .fs-order-detail .table thead td {
    background: #fff; }
    .fs-order-detail .table thead td:nth-child(3) {
      width: 116px; }

.order-detail-title {
  margin: 3px 0 14px 0;
  font-weight: bold;
  text-transform: uppercase; }

.fs-order-info {
  width: 800px;
  max-width: 100%;
  margin: 0 auto 30px;
  padding: 0;
  text-transform: none; }
  .fs-order-info .table {
    border: 1px solid #dee2e6;
    margin-bottom: 30px; }
    .fs-order-info .table tfoot td {
      font-weight: bold;
      font-family: Verdana;
      font-size: 14px; }
    .fs-order-info .table thead tr th {
      background-color: #dee2e6;
      font-weight: normal;
      color: #000000; }
    .fs-order-info .table tbody tr td {
      vertical-align: middle;
      text-transform: none; }
      .fs-order-info .table tbody tr td img {
        width: 100px;
        border: 1px solid #dee2e6;
        height: auto; }
  .fs-order-info h3 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.01em;
    border-bottom: 2px solid #d1d0d0;
    padding-bottom: 10px; }
  .fs-order-info ul {
    margin: 0;
    padding: 0; }
    .fs-order-info ul li {
      display: block;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.2;
      color: #4b4b4b;
      border-bottom: 1px dotted #d7d7d7;
      padding: 12px 0; }
      .fs-order-info ul li > span {
        font-style: normal;
        font-family: Verdana;
        color: #000000; }

.fs-pay-method {
  width: 320px;
  margin: 0 auto 30px;
  max-width: 100%;
  text-align: center;
  padding: 10px 20px;
  border: 1px solid #82B63E;
  box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.11);
  background-color: #fff; }
  .fs-pay-method img {
    margin-bottom: 30px; }

.fs-color-box {
  border: 1px solid #e9e9e9;
  display: inline-block;
  float: left;
  width: 20px;
  height: 20px;
  margin-right: 10px; }

.fs-info-block {
  padding: 15px;
  border-left: 4px solid #00aaff;
  display: flex;
  align-items: center;
  background-color: #fafafa; }
  .fs-info-block i {
    color: #00aaff;
    font-size: 24px;
    margin-right: 10px; }

.fs-checkout-form input.error {
  border: 1px solid #ff4e4e; }
.fs-checkout-form label.error {
  background: #ff4e4e;
  padding: 7px 14px;
  line-height: 1;
  color: #fff;
  font-size: 12px;
  font-weight: 300;
  position: relative;
  border-radius: 3px;
  letter-spacing: .05em; }
  .fs-checkout-form label.error:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 4px 6px 4px;
    border-color: transparent transparent #ff4e4e transparent;
    top: -6px;
    position: absolute;
    left: 10px; }

.fs-cart-listing {
  margin-bottom: 30px; }
  .fs-cart-listing .fs-qty-wrapper {
    position: relative;
    display: inline-table;
    vertical-align: middle; }
    .fs-cart-listing .fs-qty-wrapper button {
      border: none;
      background: none;
      font-size: 14px; }
    .fs-cart-listing .fs-qty-wrapper input {
      width: 50px;
      height: 28px;
      text-align: center;
      border: 1px solid #ddd;
      font-size: 14px;
      font-weight: 300;
      line-height: 1;
      padding: 0;
      box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.0784313725); }
  .fs-cart-listing .table > tbody > tr > td, .fs-cart-listing .table > tbody > tr > th, .fs-cart-listing .table > tfoot > tr > td, .fs-cart-listing .table > tfoot > tr > th, .fs-cart-listing .table > thead > tr > td, .fs-cart-listing .table > thead > tr > th {
    vertical-align: middle; }
  .fs-cart-listing .fs-products-after {
    margin-bottom: 30px; }
  .fs-cart-listing .fs-remove-position {
    border: 1px solid #F8342D;
    height: 24px;
    width: 24px;
    color: #ffffff;
    font-size: 18px;
    padding: 0;
    font-weight: 700;
    border-radius: 0;
    background: #F8342D;
    line-height: 1; }
    .fs-cart-listing .fs-remove-position:hover {
      color: #F8342D;
      background: #fff; }

.fs-rating .star-rating {
  line-height: 32px;
  font-size: 1.25em; }
  .fs-rating .star-rating > span {
    margin: 0 1px;
    display: inline-block; }
    .fs-rating .star-rating > span:hover {
      cursor: pointer; }
.fs-rating .star-rating .fa-star {
  color: #c7c7c7; }
  .fs-rating .star-rating .fa-star.active {
    color: #ffbb00; }
.fs-rating .rating-loading {
  width: 25px;
  height: 25px;
  font-size: 0;
  color: #fff;
  background: url(../img/loading.gif) top left no-repeat;
  border: none; }
.fs-rating .rating-container .rating-stars {
  position: relative;
  cursor: pointer;
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap; }
.fs-rating .rating-container .rating-input {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  font-size: 1px;
  border: none;
  background: 0 0;
  padding: 0;
  margin: 0; }
.fs-rating .rating-disabled .rating-input, .fs-rating .rating-disabled .rating-stars {
  cursor: not-allowed; }
.fs-rating .rating-container .star {
  display: inline-block;
  margin: 0 3px;
  text-align: center; }
.fs-rating .rating-container .empty-stars {
  color: #aaa; }
.fs-rating .rating-container .filled-stars {
  position: absolute;
  left: 0;
  top: 0;
  margin: auto;
  color: #fde16d;
  white-space: nowrap;
  overflow: hidden;
  -webkit-text-stroke: 1px #777;
  text-shadow: 1px 1px #999; }
.fs-rating .rating-rtl {
  float: right; }
.fs-rating .rating-animate .filled-stars {
  transition: width .25s ease;
  -o-transition: width .25s ease;
  -moz-transition: width .25s ease;
  -webkit-transition: width 0.25s ease; }
.fs-rating .rating-rtl .filled-stars {
  left: auto;
  right: 0;
  -moz-transform: matrix(-1, 0, 0, 1, 0, 0) translate3d(0, 0, 0);
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0) translate3d(0, 0, 0);
  -o-transform: matrix(-1, 0, 0, 1, 0, 0) translate3d(0, 0, 0);
  transform: matrix(-1, 0, 0, 1, 0, 0) translate3d(0, 0, 0); }
.fs-rating .rating-rtl.is-star .filled-stars {
  right: 0.06em; }
.fs-rating .rating-rtl.is-heart .empty-stars {
  margin-right: 0.07em; }
.fs-rating .rating-lg {
  font-size: 3.91em; }
.fs-rating .rating-md {
  font-size: 3.13em; }
.fs-rating .rating-sm {
  font-size: 2.5em; }
.fs-rating .rating-xs {
  font-size: 2em; }
.fs-rating .rating-xl {
  font-size: 4.89em; }
.fs-rating .rating-container .clear-rating {
  color: #aaa;
  cursor: not-allowed;
  display: inline-block;
  vertical-align: middle;
  font-size: 60%;
  padding-right: 5px; }
.fs-rating .clear-rating-active {
  cursor: pointer !important; }
.fs-rating .clear-rating-active:hover {
  color: #843534; }
.fs-rating .rating-container .caption .label {
  display: inline-block;
  padding: .25em .4em;
  line-height: 1;
  text-align: center;
  vertical-align: baseline;
  border-radius: 0.25rem; }
.fs-rating .rating-container .caption {
  color: #999;
  display: inline-block;
  vertical-align: middle;
  font-size: 60%;
  margin-top: -.6em;
  margin-left: 5px;
  margin-right: 0; }
.fs-rating .rating-rtl .caption {
  margin-right: 5px;
  margin-left: 0; }
@media print {
  .fs-rating .rating-container .clear-rating {
    display: none; } }

.fs-order-pay {
  margin-bottom: 50px; }
  .fs-order-pay .fs-pay-item {
    text-align: center; }
    .fs-order-pay .fs-pay-item h4 {
      text-transform: uppercase;
      letter-spacing: 0.05em;
      font-weight: 700;
      font-size: 16px;
      max-width: 100%; }
    .fs-order-pay .fs-pay-item figure {
      width: 165px;
      height: 165px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #eee;
      margin-bottom: 10px;
      transition: all .2s; }
      .fs-order-pay .fs-pay-item figure:hover {
        border: 4px solid #eee;
        box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.05); }

#fs-shipping-fields {
  display: none; }

/*# sourceMappingURL=f-shop.css.map */
