.row-images {
    width: 100%;
    float: none;
    overflow: hidden;
}
button#new_image {
    border-radius: 20px;
    border: none;
    margin: 10px 0;
    padding: 6px 11px;
    background: #32373c;
    color: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
    outline: none;
}
button#new_image:hover {
    background: #000;
    cursor: pointer;
}
.mmf-image {
    display: inline-block;
    width: 165px;
    border: 1px dashed #ccc;
    padding: 5px;
    height: 165px;
    background-color: #eee;
    margin-right: 2px;
    margin-bottom: 2px;
    float: left;
}
.mmf-image img {
    width: 100%;
    height: 133px;
}
.mmf-image button {
    width: 49%;
    float: left;
    height: 28px;
    padding: 0px;
    text-transform: uppercase;
    font-size: 12px;
    border: none;
    border-radius: 2px;
}
.mmf-image button:hover {
    cursor: pointer;
    opacity: 0.8;
}
button.upload-mft {
    background: #2196F3;
    margin-right: 2%;
    color: #fff;
}
button.remove-tr {
    background: #E91E63;
    color: #fff;
}
.cssload-container {
    width: 100%;
    height: 49px;
    text-align: center;
}
.cssload-speeding-wheel {
    width: 22px;
    height: 22px;
    margin: 0 auto;
    border: 3px solid #000000;
    border-radius: 50%;
    border-left-color: transparent;
    border-right-color: transparent;
    animation: cssload-spin 575ms infinite linear;
    -o-animation: cssload-spin 575ms infinite linear;
    -ms-animation: cssload-spin 575ms infinite linear;
    -webkit-animation: cssload-spin 575ms infinite linear;
    -moz-animation: cssload-spin 575ms infinite linear;
}
@keyframes cssload-spin {
    100% {
        transform: rotate(360deg);
    }
}
@-o-keyframes cssload-spin {
    100% {
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-ms-keyframes cssload-spin {
    100% {
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes cssload-spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes cssload-spin {
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
[data-fs-action="add-to-cart"],
[data-fs-action="order-send"] {
    position: relative;
}
.fs-preloader {
    position: absolute;
    left: 42px;
    top: 10px;
    display: none;
}
[data-fs-action="order-send"] .fs-preloader {
    position: absolute;
    right: 9px;
    top: 17px;
    left: auto;
}
.send_ok {
    display: none;
    position: absolute;
    left: 116px;
    top: 2px;
    color: #208e2b;
}
.count_wrap {
    position: relative;
    float: left;
}
input[name="count-ch"] {
    float: left;
    width: 39px;
    border: 1px solid #7C1D6B;
    height: 32px;
    text-align: center;
}
.count_wrap .up {
    content: '';
    position: absolute;
    right: -15px;
    bottom: 19px;
    border: 4px solid transparent;
    border-bottom: 8px solid #7C1D6B;
}
.count_wrap .down {
    content: '';
    position: absolute;
    right: -15px;
    bottom: 0px;
    border: 4px solid transparent;
    border-top: 8px solid #7C1D6B;
}
.fs-metabox td {
    padding: 2px 8px;
}
.fs-metabox label {
    font-weight: bold;
}
li.fs-attr {
    margin-bottom: 6px;
    display: block;
    margin-right: 13px;
    border: 1px solid #e5e5e5;
    padding: 0 15px 15px 15px;
    border-radius: 4px;
}
.ui-tabs-vertical { width: 55em; }
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 40em;}
.fs-option input[type="submit"] {
    margin: 15px 0 0 0;
    background: #0073aa;
    color: #fff;
    padding: 8px 28px;
    border: 1px solid #0073aa;
    text-transform: uppercase;
    border-radius: -1px;
    line-height: 1em;
    font-size: 12px;
    letter-spacing: .1em;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}
.fs-option input[type="submit"]:hover{
    background: #06628e;
    cursor: pointer; 
}
.fs-option textarea{
    width: 100%;
}
.fs-option label{
    font-weight: bold;
    line-height: 25px;
}
.fs-option label.label-light{
    font-weight: normal;
    line-height: 18px;
}
.fs-option p {
    margin: 0 0 10px 0;
}
.fast-shop-settings .ui-tabs.ui-tabs-vertical .ui-tabs-nav {
    float: left;
    width: 10em;
    background: #f1f1f1;
}
.fast-shop-settings .ui-tabs.ui-tabs-vertical .ui-tabs-nav li {
    clear: left;
    width: 100%;
    margin: 0.2em 0;
    border: 1px solid #0073aa;
    border-width: 1px 0 0px 1px;
    border-radius: 0;
    overflow: hidden;
    position: relative;
    right: -2px;
    z-index: 2;
}
.fast-shop-settings .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    background: #0073aa;
}
.fast-shop-settings input[type=text] {
    width: 100%;
}
.fast-shop-settings .wp-person a:focus .gravatar, a:focus, a:focus .media-icon img {
    color: #124964;
    box-shadow: none;
}
.fs-option label span {
    font-weight: normal;
}

.fast-shop-settings .ui-tabs.ui-tabs-vertical .ui-tabs-panel {
    float: left;
    width: 47em;
    border-left: 1px solid gray;
    border-radius: 0;
    position: relative;
    left: -1px;
}
.count-error {
    position: absolute;
    width: 233px;
    z-index: 1;
    bottom: 43px;
    background: #e1e1e1;
    padding: 10px;
    font-size: 14px;
    line-height: 1;
}
.count-error:before {
    position: absolute;
    content: "";
    border: 10px solid transparent;
    border-top: 10px solid #e1e1e1;
    bottom: -19px;
    left: 16px;
}
.fs-login-form {
    width: 410px;
    margin: 35px 0;
    border: 1px solid #e8e8e8;
    padding: 16px;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
.form-info.form-error {
    color: red;
    margin: 0 0 16px 0;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.42);
    font-size: 0.9em;
}
.form-header {
    margin: 0 0 10px 0;
}
