@import url(../fonts/caviardreams/stylesheet.css);
body {
  background-color: #f1f1f1; }

.fs-metabox {
  width: 100%;
  margin: 0 auto;
  color: #444;
  font-weight: 400;
  letter-spacing: .025em;
  max-width: 100%; }
  .fs-metabox * {
    box-sizing: border-box;
    max-width: 100%; }
  .fs-metabox ul {
    width: 20%;
    float: left;
    padding: 0;
    margin: 0; }
    @media screen and (max-width: 768px) {
      .fs-metabox ul {
        width: 100%;
        max-width: 100%; } }
    .fs-metabox ul li {
      display: block;
      margin-bottom: 4px;
      position: relative; }
      .fs-metabox ul li.fs-link-active a {
        background-color: #23282d;
        color: #fff;
        padding-left: 25px; }
      .fs-metabox ul li.fs-link-active:before {
        content: "";
        position: absolute;
        width: 4px;
        height: 100%;
        background-color: #389eff; }
      .fs-metabox ul li a {
        padding: 10px 16px;
        background-color: #cccccc;
        display: block;
        text-decoration: none;
        font-size: 1.2em;
        letter-spacing: .025em;
        color: #444;
        -webkit-transition: all .4s;
        -moz-transition: all .4s;
        -ms-transition: all .4s;
        -o-transition: all .4s;
        transition: all .4s; }
  .fs-metabox .fs-tabs {
    width: 80%;
    float: left; }
    @media screen and (max-width: 768px) {
      .fs-metabox .fs-tabs {
        width: 100%; } }
    .fs-metabox .fs-tabs > .fs-tab {
      float: left;
      display: none;
      min-height: 178px;
      margin-left: 2px;
      padding: 29px 41px;
      background-color: #f6f6f6;
      width: 100%;
      border: 1px solid #eaeaea; }
      @media screen and (max-width: 768px) {
        .fs-metabox .fs-tabs > .fs-tab {
          margin: 0; } }
      .fs-metabox .fs-tabs > .fs-tab h3 {
        margin: 0 0 10px 0; }
      .fs-metabox .fs-tabs > .fs-tab h4 {
        margin: 0 0 2px 0; }
      .fs-metabox .fs-tabs > .fs-tab .fs-help {
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-style: normal;
        color: #a4a4a4;
        margin: 5px 0 0 0;
        font-size: 13px;
        display: block; }
      .fs-metabox .fs-tabs > .fs-tab .fs-hidden {
        display: none; }
      .fs-metabox .fs-tabs > .fs-tab label {
        display: block;
        margin-bottom: 4px;
        font-weight: bold; }
        .fs-metabox .fs-tabs > .fs-tab label span {
          font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
          font-weight: 400;
          font-size: 13px;
          padding: 5px 10px;
          color: #0073aa;
          border-radius: 17px;
          border: 1px solid #efefef;
          background: linear-gradient(#fff, #dcdcdc); }
      .fs-metabox .fs-tabs > .fs-tab button {
        height: 2.35em;
        padding: 0 22px;
        background: #389eff;
        color: #fff;
        border: none;
        letter-spacing: .025em;
        font-size: 14px;
        box-shadow: inset 0px -3px 0px #00000029;
        border-radius: 4px;
        text-transform: uppercase;
        line-height: 2.35em; }
        .fs-metabox .fs-tabs > .fs-tab button.button-small {
          height: 2.5em;
          line-height: 2.5em;
          font-size: 12px;
          letter-spacing: .05em; }
        .fs-metabox .fs-tabs > .fs-tab button.add-att {
          line-height: 1;
          float: right;
          height: 25px;
          /* font-size: 4px; */
          padding: 4px; }
        .fs-metabox .fs-tabs > .fs-tab button:hover {
          cursor: pointer;
          -webkit-transition: all .4s;
          -moz-transition: all .4s;
          -ms-transition: all .4s;
          -o-transition: all .4s;
          transition: all .4s;
          background: #0f8aff; }
        .fs-metabox .fs-tabs > .fs-tab button:focus {
          outline: none; }
      .fs-metabox .fs-tabs > .fs-tab .fs-attr-list ul {
        padding-left: 10px; }
        .fs-metabox .fs-tabs > .fs-tab .fs-attr-list ul li span {
          font-size: 13px;
          color: #fe0000; }
          .fs-metabox .fs-tabs > .fs-tab .fs-attr-list ul li span:hover {
            cursor: pointer; }
      .fs-metabox .fs-tabs > .fs-tab input[type=text] {
        height: 2.35em;
        padding: 0px 15px; }
        .fs-metabox .fs-tabs > .fs-tab input[type=text]:focus {
          border: 1px solid #5b9dd9;
          outline: none; }
        .fs-metabox .fs-tabs > .fs-tab input[type=text].placeholder {
          color: #969696;
          font-family: 'Caviar Dreams'; }
        .fs-metabox .fs-tabs > .fs-tab input[type=text]:-moz-placeholder {
          color: #969696;
          font-family: 'Caviar Dreams'; }
        .fs-metabox .fs-tabs > .fs-tab input[type=text]::-moz-placeholder {
          color: #969696;
          font-family: 'Caviar Dreams'; }
        .fs-metabox .fs-tabs > .fs-tab input[type=text]:-ms-input-placeholder {
          color: #969696;
          font-family: 'Caviar Dreams'; }
        .fs-metabox .fs-tabs > .fs-tab input[type=text]::-webkit-input-placeholder {
          color: #969696;
          font-family: 'Caviar Dreams'; }
      .fs-metabox .fs-tabs > .fs-tab select {
        height: 2.35em;
        padding: 0px 10px; }
        .fs-metabox .fs-tabs > .fs-tab select[multiple="multiple"] {
          height: 90px; }
        .fs-metabox .fs-tabs > .fs-tab select:focus {
          border: 1px solid #5b9dd9;
          outline: none; }
      .fs-metabox .fs-tabs > .fs-tab .fs-field-row {
        margin-bottom: 25px; }
      .fs-metabox .fs-tabs > .fs-tab.fs-tab-active {
        display: block; }
  .fs-metabox [draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element; }
  .fs-metabox [draggable="true"] {
    cursor: move;
    cursor: -webkit-grab; }
  .fs-metabox .fs-grid {
    margin: 0 -10px; }
  .fs-metabox .fs-col-4 {
    width: calc(25% - 20px);
    float: left;
    position: relative;
    height: 201px;
    margin: 10px;
    background-size: cover;
    background-repeat: no-repeat; }
    .fs-metabox .fs-col-4 img {
      width: 100%;
      height: auto;
      padding: 0;
      margin: 0; }
    .fs-metabox .fs-col-4 .fs-remove-img {
      position: absolute;
      height: 25px;
      width: 25px;
      background: url(../img/rounded-remove-button.svg);
      z-index: 1;
      top: 12px;
      left: 10px;
      background-size: 25px;
      opacity: 1;
      transition: all .2s; }
      .fs-metabox .fs-col-4 .fs-remove-img:hover {
        opacity: .7;
        cursor: pointer; }

.clearfix:after, .fs-metabox .fs-grid:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix, .fs-metabox .fs-grid {
  display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix, * html .fs-metabox .fs-grid, .fs-metabox * html .fs-grid {
  height: 1%; }

.clearfix, .fs-metabox .fs-grid {
  display: block; }

/* close commented backslash hack */

/*# sourceMappingURL=style.css.map */
